
        body {
            text-align: center;
        }
        
        p {
            text-align: left;
        }
    
        .body-initial {
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1490720356624-1 {
            min-height: 1567px;
            width: 693px;
            background-color: rgb(255, 255, 255);
            top: 4px;
            left: 17px;
        }
    